.padding{
    padding: 0px 0px 0px 20px;
}





.header_page{
    font-family: "EAZZY";
    font-size: 5em;
}
.short_discription {
    /* Стилизация заголовка о компании  */
    font-family: "EAZZY";
    
}
.shop_aim{
    margin: 30px 0px 0px 0px;
    font-family: "Yasura";
}

.fakts_block_greed {
    /* грид контейнер для карточек */
    padding: 0px 10px 0px 10px;
    margin: 30px 0px 50px 0px;


    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap:20px;
    justify-items: center;
}
.fakt_card_greed_item{
    /*Стилизация карточек*/
    padding: 3px 5px 3px 5px ;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    position: relative;
    

    border: 2px solid black;
    border-radius: 20px;
    -webkit-box-shadow: -1px 0px 8px 12px rgba(24, 141, 231, 0.2);
    -moz-box-shadow: -1px 0px 8px 12px rgba(24, 141, 231, 0.2);
    box-shadow: -1px 0px 8px 12px rgb(61,76,118);



}
.fakt_card_greed_item::before{
    /*положение*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*стилизация*/
    background-color: #212c38;
    filter: blur(10px);
    transition: all 1s;
    z-index: 1;

    
}
.fakt_card_greed_item:hover::before{
    z-index: -1;
    transform: scale(1.05);
}

.card_1{
    
    background: url(/static/deps/images/about/background_1.jpg) no-repeat center center/cover;
    font-size: large;
}

.card_2{
    background:url(/static/deps/images/about/help.jpg) no-repeat center center/cover;
    font-size: large;
}
.card_3{
    background:url(/static/deps/images/about/safety.jpg) no-repeat center center/cover;
    color: white;
    font-size: large;
}
.card_4{
    background:url(/static/deps/images/about/delivery.jpg) no-repeat center center/cover;
    font-size: large;
}





.background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear,
    transform 200ms linear;
    
    
}






.header_greed_item{
    /*Стилизация заголовка карточки*/
    font-family: "EAZZY";
}
.greed_item_discription{
    /*стилизация контейнера описания факта-текста*/
    font-family: sans-serif;
}
.greed_item_text{
    /*Стилизация текста описания*/

}
.history_block{
    /*Стилизация исторического блока */
    margin: 0px 0px 30px 0px;
    padding: 10px 10px 20px 10px;
}
.history_block_header{
    /*стилизация заголовка исторического блока*/
    font-family: "EAZZY";
}
.history_block_grid_container{
    /*Контейнер для карточек исторического блока*/
    margin: 30px 0px 0px 0px;


    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 20px;
    
}
.history_card_greed_item{
    /*Карточка исторического блока*/
    /* border: 2px solid black;
    border-radius: 20px;
    -webkit-box-shadow: -1px 0px 8px 12px rgba(24, 141, 231, 0.2);
    -moz-box-shadow: -1px 0px 8px 12px rgba(24, 141, 231, 0.2);
    box-shadow: -1px 0px 8px 12px rgb(61,76,118); */
    /* height: 300px; */
}
.flip_card{
    width: 300px;
    height: 300px;
    perspective: 1000px;
}
.flip_card_inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.flip_card:hover .flip_card_inner{
    transform: rotateY(180deg);
}
.flip_card_front, .flip_card_rear{
    position: absolute;
    width: 100%;
    height: 100%;
    /* -webkit-backface-visibility: hidden; */
    backface-visibility: hidden;
    border: 2px solid black;
    border-radius: 20px;
    -webkit-box-shadow: -1px 0px 8px 12px rgba(24, 141, 231, 0.2);
    -moz-box-shadow: -1px 0px 8px 12px rgba(24, 141, 231, 0.2);
    box-shadow: -1px 0px 8px 12px rgb(61,76,118);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.flip_card_front{
    background-color: #bbb;
    color: black;
    background: url("/static/deps/images/about/front_side.jpg") no-repeat center center/cover;
}
.flip_card_rear{
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border-radius: 30px;
    border: 3px solid black;
}


.history_card_greed_item_2{
    /*Карточка исторического блока большая*/
    /* padding: 0px 0px 0px 60px; */
    position: relative;

    border: 2px solid black;
    border-radius: 20px;
    height: 300px;
    


    -webkit-box-shadow: -1px 0px 8px 12px rgba(24, 141, 231, 0.2);
    -moz-box-shadow: -1px 0px 8px 12px rgba(24, 141, 231, 0.2);
    box-shadow: -1px 0px 8px 12px rgb(61,76,118);;
    background: url(/static/deps/images/about/result.jpeg) no-repeat center center/cover;

    grid-column: 2/4;
}
.year{
    /*Стилизация года карточки */
    font-family: "EAZZY";
    font-size: 70px;
    

}
/* .year_head{
    font-family: "EAZZY";
    color: black;
    font-size: 40px;
     */
}
.result_cart{
    font-family: "EAZZY";
    color: rgb(94, 4, 97);
    position: absolute;
    top: 20px;
    left: 57px;
    
}
.year_discription{
    /* Контейнер для описания года карточки*/

}
.year_text{
    /*Стилизация текста описания карточки*/

}
.back_1{
    background: url("/static/deps/images/about/back_1.jpeg") no-repeat center center/cover;
    font-family: "EAZZY";
    color: black;
    font-size: 40px;

}
.back_2{
    background: url("/static/deps/images/about/qucly_grow_up.jpeg") no-repeat center center/cover;
    color:azure;
    font-size: 20px;
}
@font-face {
    font-family: "EAZZY";
    src: url(/static/deps/fonts/FEMussyPussy-Regular.ttf);
}
@font-face {
    font-family:"SAMDAN" ;
    src: url(/static/deps/fonts/samdan.ttf);
}
@font-face {
    font-family: "Yasura";
    src: url(/static/deps/fonts/z7qpo.ttf);
}
