

.coortunes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.delivery_conteiner{
display: flex;
gap: 10px;
justify-content: space-between;
}

.coortunes_size{
    width: 64px;
    height: 64px;

}
.greed_item{
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.size_window{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
   text-align: justify;
   padding: 5px 10px 5px 10px;

}
.position_warning_window{
    display: flex;
    justify-content: center;
}

.mask{
    mask: url("../images/mask_.svg") center/cover no-repeat;
}