{% extends "base.html" %}
{% load static %}



{% block css %} 
        <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
        <link rel="stylesheet" href="{% static "deps/css/about.css" %}">
{% endblock %} 


{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded padding">
    <!--Начало-->
        <h1 class="header_page">{{title}}</h1>

        <h2 class="short_discription">
            Мы предлагаем широкий ассортимент мебели на любой вкус и бюджет. 
            В нашем магазине вы найдёте всё необходимое для создания уютной и комфортной обстановки в вашем доме или офисе.</h2>
        <h3 class="shop_aim">
            Цель нашего мебельного магазина — помочь клиентам создать идеальное пространство для жизни и работы, 
            предоставляя качественную мебель, которая будет соответствовать их индивидуальным потребностям и стилю.</h3>

        <div class="fakts_block_greed">

            <div class="fakt_card_greed_item card_1">
                <div class="background"></div>

                <h2 class="header_greed_item">Найдётся всё!</h2>
                <div class="greed_item_discription">
                    <p class="greed_item_text">В нашем мебельном магазине представлен огромный выбор мебели на любой вкус и бюджет, от элегантной классики до современного минимализма.</p>
                </div>
            </div>

            <div class="fakt_card_greed_item card_2">
                <h2 class="header_greed_item">Подбор мебели</h2>
                <div class="greed_item_discription">
                    <p class="greed_item_text">Наши консультанты всегда готовы прийти на помощь и подобрать для вас идеальную мебель, которая будет соответствовать вашим потребностям и стилю интерьера.</p>
                </div>
            </div>
            

            <div class="fakt_card_greed_item card_3">
                <h2 class="header_greed_item">Гарантия</h2>
                <div class="greed_item_discription">
                    <p class="greed_item_text">Мы тщательно следим за качеством нашей продукции и предоставляем гарантию на все товары. В нашем магазине представлена мебель только от проверенных производителей.</p>
                </div>
            </div>

            <div class="fakt_card_greed_item card_4">
                <h2 class="header_greed_item">Доставка</h2>
                <div class="greed_item_discription">
                    <p class="greed_item_text">Мы заботимся о том, чтобы процесс покупки мебели был максимально удобным для наших клиентов. Мы предлагаем услуги доставки и сборки мебели прямо у вас дома.</p>
                </div>
            </div>

        </div>

        <div class="history_block">
            <h1 class="history_block_header">История</h1>
            <div class="history_block_grid_container">
                <!--КАРТОЧКА Начало-->
                <div class="history_card_greed_item">
                    <div class="flip_card">
                        <div class="flip_card_inner">
                            <div class="flip_card_front">
                                <h2 class="year">2021</h2>
                            </div>
                            <div class="flip_card_rear back_1">
                                <div class="year_discription">
                                    <h3 class="year_head">Открытие магазина!</h3>
                                    <p>Завоз первого товара и первые клиенты. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--КАРТОЧКА КОНЕЦ-->
                <!--КАРТОЧКА Начало-->
                <div class="history_card_greed_item">
                    <div class="flip_card">
                        <div class="flip_card_inner">
                            <div class="flip_card_front">
                                <h2 class="year">2022</h2>
                            </div>
                            <div class="flip_card_rear back_2">
                                <div class="year_discription">
                                    <h3 class="year_head">Бурное развитие!</h3>
                                    <p class="year_text">Расширение асортимента магазина расширение клиентской базы.</p>
                                    <p>Все больше радостных отзывов! =)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--КАРТОЧКА КОНЕЦ-->
                <!--КАРТОЧКА Начало-->
                <div class="history_card_greed_item">
                    <div class="flip_card">
                        <div class="flip_card_inner">
                            <div class="flip_card_front">
                                <h2 class="year">2023</h2>
                            </div>
                            <div class="flip_card_rear back_3">
                                <div class="year_discription">
                                    <h3 class="year_head">Открытие магазина!</h3>
                                    <p class="year_text">Завоз первого товара и первые клиенты. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--КАРТОЧКА КОНЕЦ-->
                <!--КАРТОЧКА Начало-->
                <div class="history_card_greed_item">
                    <div class="flip_card">
                        <div class="flip_card_inner">
                            <div class="flip_card_front">
                                <h2 class="year">2024</h2>
                            </div>
                            <div class="flip_card_rear back_4">
                                <div class="year_discription">
                                    <h3 class="year_head">Открытие магазина!</h3>
                                    <p class="year_text">Завоз первого товара и первые клиенты. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--КАРТОЧКА КОНЕЦ-->
                <div class="history_card_greed_item_2">
                    <h2 class="result_cart">Результат</h2>
                    <div class="year_discription">
                        {% comment %} <img src="{% static "deps/images/about/result.jpeg" %}" alt="Картинка"> {% endcomment %}
                        {% comment %} <p class="year_text">Описание года</p> {% endcomment %}
                    </div>
                </div>
            </div>            
        </div>
        <!--Конец-->
    </div>


{% endblock content %} 

{% block modal_cart %}
{% comment %} {% include "includes/cart_btn.html" %} {% endcomment %}
{% endblock modal_cart %}


{% comment %} {% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
                <p class="m-0 text-center text-white">
                    Магазин мебели Home 2024
                </p>
        </div>
    </footer>
{% endblock footer %} {% endcomment %}
