{% extends "base.html" %}
{% load static %}



{% block css %} 
        <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
        <link rel="stylesheet" href="{% static "deps/css/about.css" %}">
{% endblock %} 


{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded padding">
    <!--Начало-->
        <h1 class="header_page">{{title}}</h1>

        <h2 class="short_discription">
            Мы предлагаем широкий ассортимент мебели на любой вкус и бюджет. 
            В нашем магазине вы найдёте всё необходимое для создания уютной и комфортной обстановки в вашем доме или офисе.</h2>
        <h3 class="shop_aim">
            Цель нашего мебельного магазина — помочь клиентам создать идеальное пространство для жизни и работы, 
            предоставляя качественную мебель, которая будет соответствовать их индивидуальным потребностям и стилю.</h3>

        <div class="fakts_block_greed">

            <div class="fakt_card_greed_item card_1">
                <div class="background"></div>

                <h2 class="header_greed_item">Найдётся всё!</h2>
                <div class="greed_item_discription">
                    <p class="greed_item_text">В нашем мебельном магазине представлен огромный выбор мебели на любой вкус и бюджет, от элегантной классики до современного минимализма.</p>
                </div>
            </div>

            <div class="fakt_card_greed_item card_2">
                <h2 class="header_greed_item">Помощь в подборе мебели</h2>
                <div class="greed_item_discription">
                    <p class="greed_item_text">Наши консультанты всегда готовы прийти на помощь и подобрать для вас идеальную мебель, которая будет соответствовать вашим потребностям и стилю интерьера.</p>
                </div>
            </div>
            

            <div class="fakt_card_greed_item card_3">
                <h2 class="header_greed_item">Гарантия качества</h2>
                <div class="greed_item_discription">
                    <p class="greed_item_text">Мы тщательно следим за качеством нашей продукции и предоставляем гарантию на все товары. В нашем магазине представлена мебель только от проверенных производителей.</p>
                </div>
            </div>

            <div class="fakt_card_greed_item card_4">
                <h2 class="header_greed_item">Доставка и сборка</h2>
                <div class="greed_item_discription">
                    <p class="greed_item_text">Мы заботимся о том, чтобы процесс покупки мебели был максимально удобным для наших клиентов. Мы предлагаем услуги доставки и сборки мебели прямо у вас дома.</p>
                </div>
            </div>

        </div>

        <div class="history_block">
            <h1 class="history_block_header">История</h1>
            <div class="history_block_grid_container">

                <div class="history_card_greed_item">
                    <h2 class="year">год</h2>
                    <div class="year_discription">
                        <p class="year_text">Описание года</p>
                    </div>
                </div>
                <div class="history_card_greed_item">
                    <h2 class="year">год</h2>
                    <div class="year_discription">
                        <p class="year_text">Описание года</p>
                    </div>
                </div>
                <div class="history_card_greed_item">
                    <h2 class="year">год</h2>
                    <div class="year_discription">
                        <p class="year_text">Описание года</p>
                    </div>
                </div>
                <div class="history_card_greed_item">
                    <h2 class="year">год</h2>
                    <div class="year_discription">
                        <p class="year_text">Описание года</p>
                    </div>
                </div>
                <div class="history_card_greed_item_2">
                    <h2 class="year">год</h2>
                    <div class="year_discription">
                        <p class="year_text">Описание года</p>
                    </div>
                </div>
            </div>            
        </div>
        <!--Конец-->
    </div>


{% endblock content %} 

{% block modal_cart %}
{% comment %} {% include "includes/cart_btn.html" %} {% endcomment %}
{% endblock modal_cart %}


{% comment %} {% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
                <p class="m-0 text-center text-white">
                    Магазин мебели Home 2024
                </p>
        </div>
    </footer>
{% endblock footer %} {% endcomment %}
