{% extends "base.html" %}
{% load static %}



{% block css %} 
        <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
        <link rel="stylesheet" href="{% static "deps/css/about.css" %}">
{% endblock %} 


{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
    <!--Начало-->
        <h3 class="short_discription">Краткое опписпние о компании на несколько строк </h3>

        <div class="fakts_block_greed">

            <div class="fakt_card_greed_item">
                <h2 class="header_greed_item">Заголовок факта</h2>
                <div class="greed_item_discription">
                    <p class="greed_item_text">Описание факта </p>
                </div>
            </div>

            <div class="fakt_card_greed_item">
                <h2 class="header_greed_item">Заголовок факта</h2>
                <div class="greed_item_discription">
                    <p class="greed_item_text">Описание факта </p>
                </div>
            </div>
            

            <div class="fakt_card_greed_item">
                <h2 class="header_greed_item">Заголовок факта</h2>
                <div class="greed_item_discription">
                    <p class="greed_item_text">Описание факта </p>
                </div>
            </div>

            <div class="fakt_card_greed_item">
                <h2 class="header_greed_item">Заголовок факта</h2>
                <div class="greed_item_discription">
                    <p class="greed_item_text">Описание факта </p>
                </div>
            </div>

        </div>

        <div class="history_block">
            <h1 class="history_block_header">История</h1>
            <div class="history_block_grid_container">

                <div class="history_card_greed_item">
                    <h2 class="year">год</h2>
                    <div class="year_discription">
                        <p class="year_text">Описание года</p>
                    </div>
                </div>
                <div class="history_card_greed_item">
                    <h2 class="year">год</h2>
                    <div class="year_discription">
                        <p class="year_text">Описание года</p>
                    </div>
                </div>
                <div class="history_card_greed_item">
                    <h2 class="year">год</h2>
                    <div class="year_discription">
                        <p class="year_text">Описание года</p>
                    </div>
                </div>
                <div class="history_card_greed_item">
                    <h2 class="year">год</h2>
                    <div class="year_discription">
                        <p class="year_text">Описание года</p>
                    </div>
                </div>
                <div class="history_card_greed_item_2">
                    <h2 class="year">год</h2>
                    <div class="year_discription">
                        <p class="year_text">Описание года</p>
                    </div>
                </div>
            </div>            
        </div>
        <!--Конец-->
    </div>


{% endblock content %} 

{% block modal_cart %}
{% comment %} {% include "includes/cart_btn.html" %} {% endcomment %}
{% endblock modal_cart %}


{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
                <p class="m-0 text-center text-white">
                    Магазин мебели Home 2024
                </p>
        </div>
    </footer>
{% endblock footer %}
