{% extends "base.html" %}
{% load static %}

{% block css %} 

<link rel="stylesheet" href="{% static "deps/css/contact_information.css" %}">

{% endblock %}


{% block content %}
<div class="grid_container">
    <div class="grid_item_1">
        <div class="subitem_2">

        </div>

        <div class="subitem_1">
            <img class="img_greed_item_1" src="{% static "/deps/images/Contact_information/sale_depatment_img.png" %}" alt="">
            <div class="container_text_grid_item">
                <span class="text_grid_item">Отдел продаж</span>
                <span class="text_grid_item">C 8:00 - 19:00</span>
                <div class="contacts_container_greed_item">

                    <img src="{% static "/deps/images/Contact_information/call_number.png" %}" alt="" class="subitem_img">
                    <span class="text_grid_item">456 586-24-15</span>
                    
                </div>
            </div>
            <div class="container_number_fhone_greed_item">
                <span class="contact_headline">Начальник отдела продаж</span>
                <div class="contacts_container_greed_item">
                    <img src="{% static "/deps/images/Contact_information/call_number.png" %}" alt="" class="subitem_img">
                    <span class="text_grid_item">966-47-23</span>
                </div>
                <br>
                <span class="contact_headline">Общий контактный центр</span>
                <div class="contacts_container_greed_item">
                    <img src="{% static "/deps/images/Contact_information/call_number.png" %}" alt="" class="subitem_img">
                    <span class="text_grid_item">880-64-32</span>
                </div>
            </div>

        </div>

        <div class="subitem_2">

        </div>




    </div>
    <div class="grid_item_2">
        <img class="img_greed_item_2" src="{% static "/deps/images/Contact_information/delyvery_depatment.png" %}" alt="">
        <div class="text_grid_item_container">
            <span class="text_grid_item">Служба доставки </span>
            <span class="text_grid_item">C 8:00 - 21:00</span>
            <div class="contacts_container_greed_item">
                <img src="{% static "/deps/images/Contact_information/call_number.png" %}" alt="" class="subitem_img">
                <span class="text_grid_item">456 586-24-15</span>
            </div>
            <div class="container_number_fhone_greed_item">
                <span class="contact_headline">Начальник службы доставки</span>
                <div class="contacts_container_greed_item">
                    <img src="{% static "/deps/images/Contact_information/call_number.png" %}" alt="" class="subitem_img">
                    <span class="text_grid_item">852-56-56</span>
                </div>
                <br>
                {% comment %} <span class="contact_headline">Общий контактный центр</span>
                <div class="contacts_container_greed_item">
                    <img src="{% static "/deps/images/Contact_information/call_number.png" %}" alt="" class="subitem_img">
                    <span class="text_grid_item">880-64-32</span>
                </div> {% endcomment %}
            </div>
        </div>
    </div>





    <div class="grid_item_2">
        <img class="img_greed_item_2" src="{% static "/deps/images/Contact_information/administration.png" %}" alt="">
        <div class="text_grid_item_container">
            <span class="text_grid_item">Администрация</span>
            <div class="contacts_container_greed_item">
                <img src="{% static "/deps/images/Contact_information/email.png" %}" alt="" class="subitem_img">
                <span class="text_grid_item">hell_admin_@mail.com</span>
            </div>
            <div class="container_number_fhone_greed_item">
                <span class="contact_headline">Секретарь</span>
                <div class="contacts_container_greed_item">
                    <img src="{% static "/deps/images/Contact_information/email.png" %}" alt="" class="subitem_img">
                    <span class="text_grid_item">help_hell@mai.com</span>
                </div>
                <br>
                {% comment %} <span class="contact_headline">Общий контактный центр</span>
                <div class="contacts_container_greed_item">
                    <img src="{% static "/deps/images/Contact_information/call_number.png" %}" alt="" class="subitem_img">
                    <span class="text_grid_item">880-64-32</span>
                </div> {% endcomment %}
            </div>
        </div>
    </div>

    <div class="grid_item_2">
        <img class="img_greed_item_2" src="{% static "/deps/images/Contact_information/callback.png" %}" alt="">
        <div class="text_grid_item_container">
            <span class="text_grid_item">Заказать обратный звонок </span>
            <div>
            
                <form action='{% url "main:contacts" %}' class="form_feedback" method="POST">
                    {% csrf_token %}
                    {% comment %} <label for="name_input">Name:</label> {% endcomment %}
                    <input type="text" class="form_input" placeholder=" Введите Имя" name="name" id="name_input" required>
                    {% comment %} <label for="phone_number_input">Phone number:</label> {% endcomment %}
                    <input type="text" class="form_input" placeholder=" Введите телефон" name="phone_number" id="phone_number_input" required>                    
                    <div class="button_container">
                        <button type="submit" class="form_btn">Отправить</button>
                    </div>
                    
                </form>
        </div>
    </div>
    
</div>


{% endblock content %}