{% extends "base.html" %}
{% load static %}



{% block css %} 
        <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
        <link rel="stylesheet" href="{% static "deps/css/delivery_payment_page.css" %}">
{% endblock %} 


{% block content %}
    <div class="mt-5 pt-1 pb-1 bg-dark custom-shadow rounded w-25 d-flex d-flex justify-content-center ">
        <!-- Форма фильтра по выбору доставки-->
        <form action="{% url "main:delivery_and_payment" %}" method="get" class="bg" data-bs-theme="">
            <!-- Доставка почтой-->
            <div class="form-check text-white mx-3">
                <input class ="form-check-input" type="radio" name="mail_or_courier" id="flexRadioDefault1" value="mail">
                <label class="form-check-label" for="flexRadioDefault1">
                    Почта
                </label>
            </div>
            <!-- Доставка курьером-->
            <div class="form-check text-white mx-3">
                <input class ="form-check-input" type="radio" name="mail_or_courier" id="flexRadioDefault2" value="courier">
                <label class="form-check-label" for="flexRadioDefault2">
                    Курьерская доставка 
                </label>
            </div>
            <button type="submit" class="btn btn-primary mx-3 mt-3">Выбрать</button>
        </form>
    </div>
    <!-- Отображение верстки в зависимости от выбора пользователя-->
     
    {% if  delivery == "mail" %}
            <!--Прописать верстку придоставке почтой -->
            <div class="bg-white custom-shadow rounded delivery_conteiner">
                <!--Почта России-->


                <table class="delivery_info table_style">
                    <tr class="">
                        <th>Организация</th>
                        <th>Стоимость</th>
                        <th>Срок</th>
                        <th>Способ оплаты</th>
                        <th>Время доставки</th>
                    </tr>
                    <tr>
                        <td>Почта России</td>
                        <td>1000 руб + стоимость сбора около 400руб</td>
                        <td>2-3 недели</td>
                        <td>Картой при получении / Наличными</td>
                        <td>с 10:00-19:00, кроме Сб, Вск</td>
                    </tr>
                </table>  
            </div>
            
    {% elif  delivery == "courier" %}
            <!--Прописать верстку придоставке курьером-->
            <div class="bg-white custom-shadow rounded delivery_conteiner">
                <!--Почта России-->


                <table class="delivery_info table_style">
                    <tr class="">
                        <th>Организация</th>
                        <th>Стоимость</th>
                        <th>Срок</th>
                        <th>Способ оплаты</th>
                        <th>Время доставки</th>
                    </tr>
                    <tr>
                        <td>Курьером</td>
                        <td>Заказ > 10000 ₽ БЕСПЛАТНО
                            <br>
                            Заказ < 10000 ₽
                            от 350 до 900 ₽ в зависимости от региона</td>
                        <td>2-3 недели</td>
                        <td>Картой при получении / Наличными</td>
                        <td>с 10:00-19:00, кроме Сб, Вск</td>
                    </tr>
                    <tr>
                        <td>Пункты выдачи СДЭК</td>
                        <td>Заказ > 10000 ₽
                            БЕСПЛАТНО
                            <br>
                            Заказ < 10000 ₽
                            950 ₽</td>
                        <td>От 1 до 6 дней </td>
                        <td>Наличными <br>
                            Картой при получении <br>
                            Картой на сайте</td>
                        <td>По графику
                            пункта выдачи</td>
                    </tr>
                    <tr>
                        <td>Пункты выдачи Boxberry</td>
                        <td>Заказ > 10000 ₽
                            БЕСПЛАТНО
                            
                            Заказ < 10000 ₽
                            от 350 до 900 ₽</td>
                        <td>От 1 до 6 дней</td>
                        <td>Наличными <br>
                            Картой при получении <br>
                            Картой на сайте</td></td>
                        <td>По графику пункта выдачи</td>
                    </tr>
                </table>  
            </div>


    {% elif  delivery == None %}
            
        {% endif %}
        <div class="mt-5 pt-1 bg-white custom-shadow rounded">
            <!-- Результат выбора пользователем-->


            <H1 class="text-center">Оплата</H1>
            <h3 class="text-center">Вы можете произвести оплату 3-мя способами: </h3>


            <div class="coortunes">
                <div class="greed_item text-center">
                    <img class="coortunes_size" src="{% static "/deps/images/payment_various/cash.png" %}" alt="">
                    <p>Наличными курьеру</p>
                </div>
                <a href="#" class="text-decoration-none">
                    <div class="greed_item text-center">
                        <img class="coortunes_size" src="{% static "/deps/images/payment_various/online-payment.png" %}" alt="">
                        <p>Картой онлайн</p>
                    </div>
                </a>
                <div class="greed_item text-center">
                    <img class="coortunes_size" src="{% static "/deps/images/payment_various/payment_courier.png" %}" alt="">
                    <p>Картой при получении</p>
                </div>
            </div>
    </div>


    <div class="position_warning_window">
        <div class=" mt-5 mb-4 bg-white custom-shadow rounded size_window ">
            <img class="coortunes_size" src="{% static "/deps/images/payment_various/warning.png" %}" alt="">
            
            <p class="">Если вы делаете у нас <strong> первый заказ</strong>, и его сумма более <strong>10000р</strong>, 
                либо <strong> не первый заказ</strong>, но его сумма более <strong>20000</strong>р, 
                то необходимо внести <strong>предоплату 10% </strong>от стоимости заказа. 
            <br>
            Заказ должен быть полностью оплачен заранее или в момент его передачи.</p>
        </div>
    </div>




{% endblock content %} 

{% comment %} {% block modal_cart %}
{% include "includes/cart_btn.html" %}
{% endblock modal_cart %} {% endcomment %}


{% comment %} {% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
                <p class="m-0 text-center text-white">
                    Copyright &copy; Home Python Hub Studio 2023
                </p>
        </div>
    </footer>
{% endblock footer %} {% endcomment %}
